.head {
    width: 10rem;
    height: 1.333333rem;
    position: fixed;
    top: 0;
    background: #858bd7;
    line-height: 1.333333rem;
    text-align: center;
    color: #FFF;
}
.head img {
    width: .8rem;
    height: .8rem;
    float: left;
    margin: .266667rem .2rem;
}
.head #header {
    width: 8rem;
    height: 1.333333rem;
    display: block;
    float: left;
    font-size: .32rem;
}
#row {
    width: 10rem;
    height: 100%;
    margin: 1.333333rem auto 0 auto;
}
#row div {
    width: 10rem;
    height: 3.733333rem;
    padding: .2rem 0;
}
#row div .img {
    width: 3.2rem;
    height: 3.733333rem;
    float: left;
}
#row div .span {
    width: 6.5rem;
    height: .8rem;
    line-height: .8rem;
    display: block;
    float: left;
    font-size: .38rem;
    margin-left: .266667rem;
}
#row div .author {
    width: 6.5rem;
    height: .8rem;
    line-height: .8rem;
    display: block;
    float: left;
    font-size: .32rem;
    margin-left: .266667rem;
}
#row div .chapter {
    width: 6.5rem;
    line-height: .6rem;
    display: block;
    float: left;
    font-size: .32rem;
    margin-left: .266667rem;
}